

:root{
    --corMain: #f9f9f9;
}

main{
    margin: 1em;
    background-color: var(--corMain);
    border-radius: 20px;
    padding: 2em;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, .08);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    flex-direction: column;
    max-width: 1200px;
}

main > div{
    display: flex;
    gap: 1em;
    flex-direction: column;
    width: 100%;
}

main div h2{
    text-align: left;
    font-size: 1.7rem;
}

main > div > p, main > div > ul{
    text-indent: 2rem;
    margin-left: 1em;
    font-size: 1.3rem;
}


main ul{
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: .8em;
}

#projetos{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#projetos > section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

#projetos > section > div{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    justify-content: space-between;
    gap: 1em;
    padding: 0 1em;
}

#projetos section > h3{
    font-size: 1.8rem;
    text-align: center;
}

@media screen and (width < 750px){
    main{
        margin: 0;
        border-radius: 0;
    }
}

@media screen and (width < 630px){
    #projetos > section > div{
        justify-content: center;
    }
}

