
:root{
    --corHeader: #76acf7;
    --colorFont: white;
}

header{
    width: 100%;
    background-color: var(--corHeader);
    height: max-content;
    display: grid;
    grid-template-rows: 1fr 2.2em;
    align-items: center;
    justify-items: center;
    gap: 1em;
}

.titulos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em 0;
}

header h1{
    text-align: center;
    color: var(--colorFont);
    margin: .3em;
    padding: .3em .2em;
    font-size: 4rem;
    border-radius: 8px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.433);
}

header h2{
    text-align: center;
    color: var(--colorFont);
    padding: .3em .2em;
    border-radius: 8px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.433);
    font-size: 2.5rem;
}

#menuButton{
    display: none;
    position: absolute;
    background-image: url("/img/menu.png");
    width: 45px;
    height: 45px;
    top: 1em;
    right: 1em;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

@media screen and (width < 700px){

    header{
        padding-top: 10px;
        grid-template-rows: 1fr;
    }

    #menuButton{
        display: block;
    }
}