

div.projeto{
    width: 100%;
    max-width: 300px;
    display: grid;
    grid-template-rows: max-content 1fr;
    align-items: center;
    justify-content: center;
    background-color: #d4dfee;
    padding: 1em;
    border-radius: 12px;
    gap: 1em;
    transition: transform, .3s ease;
    cursor: pointer;
    color: #424242;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .18);
    height: 100%;
}


div.projeto:hover{
    transform: scale(1.05);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, .18);
}

div.projeto img{
    border-radius: 8px;
    max-width: 100%;
}

div.projeto h3{
    text-align: center;
    font-size: 2rem;
}

@media screen and (width < 700px){
    .projeto{
        flex-direction: column !important;
        width: 100%;
    }

    .projeto > div, .projeto > img{
        width: 100% !important;
    }

    div.projeto:hover{
        transform: scale(1);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, .18);
    }
}