:root {
    --corFooter: #76acf7;
}

footer {
    background-color: var(--corFooter);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5em;
    gap: 5em;
    text-align: center;
}

footer h2{
    color: white;
    font-size: 1.8rem;
}

footer a {
    color: white;
    text-decoration: none;
    transition: transform .3s ease;
}

footer a::before{
    content: "🔗 ";
}

footer a:hover{
    transform: scale(1.05);
}

footer div{
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: .5em;
}

@media screen and (width < 700px) {
    footer{
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        padding: 2em 0;
    }
    
    footer h2{
        font-size: 1.7rem;
    }

    footer a{
        font-size: 1.3rem;
    }
}
